@page "/diagrams"

@using Blazor.Diagrams.Core
@using Blazor.Diagrams.Core.Geometry
@using Blazor.Diagrams.Core.Models

<!-- required to resolve DiagramCanvas component -->
@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Core.Tools
@using Cartography.Components

<!--
Parent of DiagramCanvas has to have a fixed width/height
or it will not be rendered.

100vw = 100% viewport width
100vh = 100% viewport height
-->
<div class="row h-100">

    <Cartography.Components.ToolboxComponent Toolbox="@toolbox" />

    <div class="col-9" style="width:100vw; height: 100vh"
         ondragover="event.preventDefault();"
         @ondragover:preventDefault @ondrop="OnDrop">
        <CascadingValue Value="Diagram">
            <DiagramCanvas></DiagramCanvas>
        </CascadingValue>
    </div>

</div>
